<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.cuit.tsmgr.dao.RoomsMapper" >
    <resultMap id="BaseResultMap" type="cn.edu.cuit.tsmgr.model.Rooms" >
        <id column="roomlocation" property="roomlocation" jdbcType="VARCHAR" />
        <result column="roomusage" property="roomusage" jdbcType="VARCHAR" />
        <result column="roomtype" property="roomtype" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        roomlocation,
        roomusage,
        roomtype
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from rooms
        where
        roomlocation = #{roomlocation,jdbcType=VARCHAR}
            
    </select>

    <delete id="deleteByPrimaryKey" >
        delete from rooms
        where
        roomlocation = #{roomlocation,jdbcType=VARCHAR}
        
    </delete>

    <delete id="deleteByPrimaryKeys" >
        delete from rooms
        where <foreach collection="primaryKeys" item = "primaryKey" separator=" or " >roomlocation = #{primaryKey,jdbcType=VARCHAR}</foreach>
    </delete>

    <insert id="insert" parameterType="cn.edu.cuit.tsmgr.model.Rooms" >
        insert into rooms (
            roomlocation,
            roomusage,
            roomtype
        )
        values (
            #{roomlocation,jdbcType=VARCHAR},
            #{roomusage,jdbcType=VARCHAR},
            #{roomtype,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertSelective" parameterType="cn.edu.cuit.tsmgr.model.Rooms" >
        insert into rooms
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="roomlocation != null" >
                roomlocation,
            </if>
            <if test="roomusage != null" >
                roomusage,
            </if>
            <if test="roomtype != null" >
                roomtype,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="roomlocation != null" >
                #{roomlocation,jdbcType=VARCHAR},
            </if>
            <if test="roomusage != null" >
                #{roomusage,jdbcType=VARCHAR},
            </if>
            <if test="roomtype != null" >
                #{roomtype,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="cn.edu.cuit.tsmgr.model.Rooms" >
        update rooms
        <set >
            <if test="roomlocation != null" >
                roomlocation = #{roomlocation,jdbcType=VARCHAR},
            </if>
            <if test="roomusage != null" >
                roomusage = #{roomusage,jdbcType=VARCHAR},
            </if>
            <if test="roomtype != null" >
                roomtype = #{roomtype,jdbcType=VARCHAR},
            </if>
        </set>
            where
            roomlocation = #{roomlocation,jdbcType=VARCHAR}
                
    </update>

    <update id="updateByPrimaryKey" parameterType="cn.edu.cuit.tsmgr.model.Rooms" >
        update rooms
        set
        <trim suffixOverrides="," >
            roomusage = #{roomusage,jdbcType=VARCHAR},
            roomtype = #{roomtype,jdbcType=VARCHAR},
        </trim>
        where
        roomlocation = #{roomlocation,jdbcType=VARCHAR}
            
    </update>

    <select id="loadModels" resultMap="BaseResultMap">
        select
        <if test="parameters != null">
            ${parameters}
        </if>
        <if test="parameters == null">
            *
        </if>
        from rooms
        <if test="condition != null">
            where ${condition}
        </if>
        <if test="order != null and sort != null">
            order by ${order} ${sort}
        </if>
        <if test="offset != -1 and limit != -1">
            limit #{offset,jdbcType=INTEGER}, #{limit,jdbcType=INTEGER}
        </if>
    </select>

    <select id="loadMaps" resultType="java.util.HashMap">
        select
        <if test="parameters != null">
         ${parameters}
        </if>
        <if test="parameters == null">
            *
        </if>
        from rooms
        <if test="condition != null">
            where ${condition}
        </if>
        <if test="order != null and sort != null">
            order by ${order} ${sort}
        </if>
        <if test="offset != -1 and limit != -1">
            limit #{offset,jdbcType=INTEGER}, #{limit,jdbcType=INTEGER}
        </if>
    </select>

    <select id="count" resultType="long">
        select count(
        <if test="isDistinct == true">
            distinct
        </if>
        <if test="parameters != null">
            ${parameters}
        </if>
        <if test="parameters == null">
            *
        </if>
        ) from rooms
        <if test="condition != null">
            where ${condition}
        </if>
    </select>

    <select id="findModel" resultMap="BaseResultMap" >
        select
        <if test="parameters != null">
            ${parameters}
        </if>
        <if test="parameters == null">
            *
        </if> from rooms
        where
        roomlocation = #{roomlocation,jdbcType=VARCHAR}
            
    </select>

    <select id="findMap" resultType="java.util.HashMap" >
        select
        <if test="parameters != null">
            ${parameters}
        </if>
        <if test="parameters == null">
            *
        </if> from rooms
        where
        roomlocation = #{roomlocation,jdbcType=VARCHAR}
            
    </select>
</mapper>