<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.cuit.tsmgr.dao.SystemimformationMapper" >
    <resultMap id="BaseResultMap" type="cn.edu.cuit.tsmgr.model.Systemimformation" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="collegename" property="collegename" jdbcType="VARCHAR" />
        <result column="schoolname" property="schoolname" jdbcType="VARCHAR" />
        <result column="forbidteacher" property="forbidteacher" jdbcType="TINYINT" />
        <result column="forbidtsmember" property="forbidtsmember" jdbcType="TINYINT" />
        <result column="noticeteacher" property="noticeteacher" jdbcType="VARCHAR" />
        <result column="noticetsmember" property="noticetsmember" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id,
        collegename,
        schoolname,
        forbidteacher,
        forbidtsmember,
        noticeteacher,
        noticetsmember
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from systemimformation
        where
        id = #{id,jdbcType=INTEGER}
            
    </select>

    <delete id="deleteByPrimaryKey" >
        delete from systemimformation
        where
        id = #{id,jdbcType=INTEGER}
        
    </delete>

    <delete id="deleteByPrimaryKeys" >
        delete from systemimformation
        where <foreach collection="primaryKeys" item = "primaryKey" separator=" or " >id = #{primaryKey,jdbcType=INTEGER}</foreach>
    </delete>

    <insert id="insert" parameterType="cn.edu.cuit.tsmgr.model.Systemimformation" >
        insert into systemimformation (
            id,
            collegename,
            schoolname,
            forbidteacher,
            forbidtsmember,
            noticeteacher,
            noticetsmember
        )
        values (
            #{id,jdbcType=INTEGER},
            #{collegename,jdbcType=VARCHAR},
            #{schoolname,jdbcType=VARCHAR},
            #{forbidteacher,jdbcType=TINYINT},
            #{forbidtsmember,jdbcType=TINYINT},
            #{noticeteacher,jdbcType=VARCHAR},
            #{noticetsmember,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertSelective" parameterType="cn.edu.cuit.tsmgr.model.Systemimformation" >
        insert into systemimformation
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="collegename != null" >
                collegename,
            </if>
            <if test="schoolname != null" >
                schoolname,
            </if>
            <if test="forbidteacher != null" >
                forbidteacher,
            </if>
            <if test="forbidtsmember != null" >
                forbidtsmember,
            </if>
            <if test="noticeteacher != null" >
                noticeteacher,
            </if>
            <if test="noticetsmember != null" >
                noticetsmember,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="collegename != null" >
                #{collegename,jdbcType=VARCHAR},
            </if>
            <if test="schoolname != null" >
                #{schoolname,jdbcType=VARCHAR},
            </if>
            <if test="forbidteacher != null" >
                #{forbidteacher,jdbcType=TINYINT},
            </if>
            <if test="forbidtsmember != null" >
                #{forbidtsmember,jdbcType=TINYINT},
            </if>
            <if test="noticeteacher != null" >
                #{noticeteacher,jdbcType=VARCHAR},
            </if>
            <if test="noticetsmember != null" >
                #{noticetsmember,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="cn.edu.cuit.tsmgr.model.Systemimformation" >
        update systemimformation
        <set >
            <if test="id != null" >
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="collegename != null" >
                collegename = #{collegename,jdbcType=VARCHAR},
            </if>
            <if test="schoolname != null" >
                schoolname = #{schoolname,jdbcType=VARCHAR},
            </if>
            <if test="forbidteacher != null" >
                forbidteacher = #{forbidteacher,jdbcType=TINYINT},
            </if>
            <if test="forbidtsmember != null" >
                forbidtsmember = #{forbidtsmember,jdbcType=TINYINT},
            </if>
            <if test="noticeteacher != null" >
                noticeteacher = #{noticeteacher,jdbcType=VARCHAR},
            </if>
            <if test="noticetsmember != null" >
                noticetsmember = #{noticetsmember,jdbcType=VARCHAR},
            </if>
        </set>
            where
            id = #{id,jdbcType=INTEGER}
                
    </update>

    <update id="updateByPrimaryKey" parameterType="cn.edu.cuit.tsmgr.model.Systemimformation" >
        update systemimformation
        set
        <trim suffixOverrides="," >
            collegename = #{collegename,jdbcType=VARCHAR},
            schoolname = #{schoolname,jdbcType=VARCHAR},
            forbidteacher = #{forbidteacher,jdbcType=TINYINT},
            forbidtsmember = #{forbidtsmember,jdbcType=TINYINT},
            noticeteacher = #{noticeteacher,jdbcType=VARCHAR},
            noticetsmember = #{noticetsmember,jdbcType=VARCHAR},
        </trim>
        where
        id = #{id,jdbcType=INTEGER}
            
    </update>

    <select id="loadModels" resultMap="BaseResultMap">
        select
        <if test="parameters != null">
            ${parameters}
        </if>
        <if test="parameters == null">
            *
        </if>
        from systemimformation
        <if test="condition != null">
            where ${condition}
        </if>
        <if test="order != null and sort != null">
            order by ${order} ${sort}
        </if>
        <if test="offset != -1 and limit != -1">
            limit #{offset,jdbcType=INTEGER}, #{limit,jdbcType=INTEGER}
        </if>
    </select>

    <select id="loadMaps" resultType="java.util.HashMap">
        select
        <if test="parameters != null">
         ${parameters}
        </if>
        <if test="parameters == null">
            *
        </if>
        from systemimformation
        <if test="condition != null">
            where ${condition}
        </if>
        <if test="order != null and sort != null">
            order by ${order} ${sort}
        </if>
        <if test="offset != -1 and limit != -1">
            limit #{offset,jdbcType=INTEGER}, #{limit,jdbcType=INTEGER}
        </if>
    </select>

    <select id="count" resultType="long">
        select count(
        <if test="isDistinct == true">
            distinct
        </if>
        <if test="parameters != null">
            ${parameters}
        </if>
        <if test="parameters == null">
            *
        </if>
        ) from systemimformation
        <if test="condition != null">
            where ${condition}
        </if>
    </select>

    <select id="findModel" resultMap="BaseResultMap" >
        select
        <if test="parameters != null">
            ${parameters}
        </if>
        <if test="parameters == null">
            *
        </if> from systemimformation
        where
        id = #{id,jdbcType=INTEGER}
            
    </select>

    <select id="findMap" resultType="java.util.HashMap" >
        select
        <if test="parameters != null">
            ${parameters}
        </if>
        <if test="parameters == null">
            *
        </if> from systemimformation
        where
        id = #{id,jdbcType=INTEGER}
            
    </select>
</mapper>